{% extends 'base.html.twig' %}

{% block body %}
    <h1>URL Redagavimas</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.description) }}
        {% if edit_form.vars.value.blocked %}
        	{{ form_row(edit_form.link, { 'attr':{'disabled':'disabled'} }) }}
        	{{ form_row(edit_form.active, { 'attr':{'disabled':'disabled'} }) }}
        {% else %}
        	{{ form_row(edit_form.link) }}
        	{{ form_row(edit_form.active) }}
        {% endif %}
    {{ form_end(edit_form) }}
    <a href="{{ path('links_index') }}" class = "btn btn-info">Grįžti į sąrašą</a>
            
{% endblock %}
