{% extends 'base.html.twig' %}

{% block body %}
    <h1>Juodasis sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Apibūdinimas</th>
                <th>URL</th>
                {% if requests or is_granted('ROLE_ADMIN') %}
                    <th>Aktyvus</th>
                    <th>Vartotojas</th>
                    {% if requests %}
                        <th>Prašymo tipas</th>
                    {% endif %}
                    <th>Veiksmai</th>
                    
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            
                <tr>
                    <td><a href="{{ path('links_show', { 'id': link.id }) }}">{{ link.title }}</a></td>
                    <td>{{ link.description }}</td>
                    
                    <td>{{ link.link }}</td>
                    {% if requests or is_granted('ROLE_ADMIN') %}
                        <td>{% if link.active %}Yes{% else %}No{% endif %}</td>
                        <td>{{ link.user }}</td>
                        {% if requests  %}
                            <td>{{ link.requesttype }}</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if requests or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('links_edit', { 'id': link.id }) }}"  class = "btn btn-info">redaguoti</a>
                            {% if requests  %}
                                <a href="{{ path('links_accept_requests', { 'id': link.id }) }}"  class = "btn btn-success">Priimti</a>
                                <a href="{{ path('links_refuse_requests', { 'id': link.id }) }}"  class = "btn btn-danger">Atmesti</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            
                
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('links_new') }}" class = "btn btn-success">Kurti prašymą įdėti nuorodą</a>
            <a href="{{ path('links_request_remove') }}" class = "btn btn-danger">Kurti prašymą išimti nuorodą</a>
{% endblock %}
